{% extends 'base.html.twig' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Recuperar Contraseña</h1>

    <div class="card mb-4">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="col-md-6 mb-3">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'autocomplete': 'email', 'required': 'required'}}) }}
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Enviar
                    </button>
                </div>
            {{ form_end(form) }}

            <div class="card-footer text-muted text-end">
                <small> 
                    <a href="{{ path('app_home') }}" class="text-decoration-none">Volver al Inicio</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
