{% extends 'base.html.twig' %}

{% block title %}Restablecer Contrase単a{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Restablecer Contrase単a</h1>

    <div class="card mb-4">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="col-md-6 mb-3">
                    {{ form_label(form.password, 'Contrase単a') }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg', 'autocomplete': 'off', 'required': 'required'}}) }}
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Cambiar contrase単a
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="card-footer text-muted text-end">
        <small> 
            <a href="{{ path('app_home') }}" class="text-decoration-none">Volver al Inicio</a>
        </small>
    </div>
</div>
{% endblock %}
