{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4 text-primary">Registro</h1>
        
        <div class="card shadow-sm p-4">
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            
            <div class="mb-3">
                <label for="registrationForm_name" class="form-label">Nombre:</label>
                {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_firstSurname" class="form-label">Primer Apellido:</label>
                {{ form_widget(registrationForm.firstSurname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_secondSurname" class="form-label">Segundo Apellido:</label>
                {{ form_widget(registrationForm.secondSurname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_phone" class="form-label">Teléfono:</label>
                {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_email" class="form-label">Correo Electrónico:</label>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="registrationForm_plainPassword" class="form-label">Contraseña:</label>
                {{ form_widget(registrationForm.plainPassword, {
                    'label': 'Contraseña',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            <div class="mb-3 form-check">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {'class': 'form-check-input'}
                }) }}
                <label for="registrationForm_agreeTerms" class="form-check-label">Aceptar Términos</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Registrar</button>
            
            {{ form_end(registrationForm) }}

            <div class="mt-3 text-center">
                <a href="{{ path('app_login') }}" class="text-muted">¿Ya está registrado? Inicie sesión</a>
            </div>
        </div>
    </div>
{% endblock %}
