<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <!-- Links de DataTables -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('adminkit') }}
            {{ encore_entry_link_tags('app') }}
        
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('adminkit_js') }}
            {{ encore_entry_script_tags('app') }}
            
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home') }}">AdminKit</a>
                    <div class="collapse navbar-collapse" id="navbar-collapsable">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{ path('app_login') }}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="btn btn-outline-light">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Main Content -->
            <div class="container my-4">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    </body>
</html>
